{% extends 'base.html' %}


{% block body %}
    <h1>Stock Market Craziness</h1>
    <br><br>

    <h2>Stats</h2>
    <section>
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Equity</h5>
                    <p class="card-text">${{stats['equity']}}</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cash</h5>
                    <p class="card-text">${{stats['cash']}}</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Money Made</h5>
                    <p class="card-text">${{stats['money_made']}}</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Stock Value</h5>
                        <p class="card-text">${{stock_amount}}</p>
                </div>
            </div>
        </div>
        <br><br>
    </section>

    <h2>My Stocks</h2> <img class='icon' src="static/table.svg">
    <section>

        <table class="table">
            <thead>
                <tr>
                    <th>Stock Name</th>
                    <th>Shares Invested</th>
                    <th>Starting Price</th>
                    <th>Current Price</th>
                    <th>Stock Value</th>
                    <th>Price Change</th>
                    <th>Your Earnings</th>
                </tr>
            </thead>
            <tbody>
                {% for row in stocks %}

                    <tr>
                        <td>
                            {{row['ticker']}}
                        </td>
                        <td>
                            {{ row['shares'] }}
                        </td>
                        <td>
                            ${{ row['start_price'] }}
                        </td>

                        {% if row['cur_price_float'] - row['start_price_float'] > 0 %}
                            {% set color = 'up' %}
                        {% elif row['cur_price_float'] - row['start_price_float'] < 0 %}
                            {% set color = 'down' %}
                        {% endif %}

                        <td class="{{color}}">
                            ${{ row['cur_price'] }}
                        </td>
                        <td class="{{color}}">
                            ${{ row['stock_value'] }}
                        </td>
                        <td class="{{color}}">
                            ${{ row['price_change'] }} ({{ row['price_change_percent'] }}%)
                        </td>
                        <td class="{{color}}">
                            ${{ row['earnings'] }}
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <h2>Search Stock</h2>  <img class='icon' src="static/graph-up.svg">
    <section>
        <form role="search">
          <input type="search" name='ticker' class="form-control" placeholder="Search ticker..." value="{{ticker if ticker}}">
        </form>
        <br>
        {% if ticker %}
            <h3>{{ticker}}</h3>
            <h3>${{stock_price}}</h3>

            <div class="button-group">
                {% for time_range in ['1D', '3D', '5D', '10D', '1M', '3M', '6M', 'YTD', '1Y', '5Y', 'All'] %}
                    {% if cur_time_range == time_range %}
                        <a class="btn btn-outline-primary active" href="/dashboard?ticker={{ticker}}&time-range={{time_range}}">{{time_range}}</a>
                    {% else %}
                        <a class="btn btn-outline-primary" href="/dashboard?ticker={{ticker}}&time-range={{time_range}}">{{time_range}}</a>
                    {% endif %}

                {% endfor %}
            </div>

            {% include 'graph.html' %}
        {% endif %}
    </section>

{% endblock %}


