{% extends 'base.html' %}

{% block title %}SMC{% endblock %}

{% block body %}
    <h1>Delete Your SMC Account</h1>

    <h2 class='danger'>Are you sure you want to delete your account?</h2>

    <br><br>

    <form method="post" class="danger-form">
        <h2>Type your password to delete your account.</h2>
        <input name='password' class='form-control' type="password">
        <br><br>
        <button class='btn btn-danger btn-xl' type="submit">Delete account</button>
    </form>

{% endblock %}

